[Unit]
Description=Weather Exporter
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=wastl
Environment="GLOG_log_dir=/var/log/weather"
ExecStart=/usr/bin/env /usr/local/bin/wastlernet /usr/local/etc/wastlernet.textpb

[Install]
WantedBy=multi-user.target
